@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --span-color1: #023e8a;
    --span-color2: #00b100;
    --text-color: #000000;
    --mobile-nav-text-color:#ffffff;
    --header-color: #ededed;
    --mobile-header-color: #ededed;
    --essayer-button: #023e8a;
    --essayer-hover: #1455a9e6;
    --nav-hover: #a80000;
    --footer-background:#01161e;
    --footer-hover:#e09f3e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: "Stack Sans Text", sans-serif;
    min-height: 100vh;

}

/* La taille de tous les title  */
h1 {
    font-size: 2.5rem;
    margin-bottom:30px;
}
header {
    background-color: var(--header-color);
    border-bottom: 1px solid rgba(216, 216, 216, 0.788);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 30px 30px;
    z-index: 1;

}
#mobile-nav-btn{
    display: none;
}


/* LE SYMBOLE DE MENU POUR LE NAV HAMBURGER */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

#navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-flex;
}

.navbar ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: var(--text-color);
    transition: 0.2s linear;
    font-weight: bold;

}

.navbar ul li a:hover {
    color: var(--nav-hover);
    transform: scale(1.1);
}

.login a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;

}


.login a:nth-child(1) {
    border: 1px solid var(--text-color);
    transition: 0.5s ease-out;
}


.login a:nth-child(2) {
    border: 1px solid var(--essayer-button);
    background-color: var(--essayer-button);
    color: white;
    transition:  .5s ease-out;
}

.login a:nth-child(1):hover {
    box-shadow: 0px 0px 10px;
}

.login a:nth-child(2):hover {
    box-shadow: 0px 0px 60px; 
    background-color: var(--essayer-hover);
}


.sidenavbar{
    display: none;
}
main {
    padding: 0px 250px;
    margin-bottom: 50px;
}


#top-section {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

#top-section .top-cards {
    width: 50%;
}



#top-section .top-cards #title span {
    color: var(--span-color1);
}

#top-section .top-cards #topsec-text {
    margin-bottom: 50px;
}

#top-section .top-cards img {
    width: 100%;
    padding:0px;
}

#middle1-section {
    width: 100%;
}

#middle1-title {
    text-align: center;

}

#middle1-title span {
    color: var(--span-color1);
}

#middle1-cards {
    margin: 50px 0px;
    display: flex;
    gap: 20px;
}

.middle1-card {
    width: 33.33%;
    padding: 30px;
    box-shadow: 5px 5px 20px rgb(126, 126, 126);
    border-radius: 30px;
    text-align: center;
    transition: 0.5s ease-out;

}

.middle1-card:hover {
    box-shadow: 5px 5px 40px rgb(126, 126, 126);
    transform: translateY(-5px);

}

.middle1-card img {
    width: 100%;
    transition: 0.3s ease-out;

}

.middle1-card img:hover {
    transform: scale(0.98);
}

.middle1-text,
.middle1-text h2 {
    margin: 20px 0px;
}

#middle2-section {
    display: flex;
    width: 100%;
    margin: 50px 0;
}

.middle2-card {
    width: 50%;
}

.middle2-card img {
    width: 100%;
}

.middle2-card h1 span {
    color: var(--span-color1)
}

.middle2-card p span {
    color: var(--span-color2);
    font-weight: bold
}

#lower {
    display: flex;
}

.lower-cards {
    width: 50%;
}

.lower-cards img {
    width: 100%;
}

.lower-cards h1 span {
    color: var(--span-color1)
}

footer {
    width: 100%;
    background-color: var(--footer-background);
    text-align: center;
    padding: 30px 0;
    color:white;
}
footer .social-media{
    margin-bottom: 20px ;
    
}
footer .social-media a {
    color: var(--mobile-nav-text-color);
    padding: 5px;
    font-size: 2rem;
    transition: 0.3s ease-out;
    font-weight: bold;
}
footer .social-media a:hover {
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.4);
    color: var(--footer-hover);
}

footer .navbar {
    margin-bottom: 30px;
}
footer .navbar ul li a{
    color: var(--white);
}
footer .navbar ul li a:hover{
    color: var(--footer-hover);
}
footer p {
    display: block;
}

@media (min-width:1006px) and (max-width:1365px) {
    h1 {
    font-size: 2rem;
    margin-bottom:30px;
}
    main{
        padding: 0px 30px;
    }
}
/* POUR QUE LE MENU PEUT ETRE BIEN AFFICHE */
@media (min-width:828px) and (max-width:1005px) {
   h1 {
    font-size: 2rem;
    margin-bottom:30px;
} 
    main{
        padding: 0px 30px;
    }
    .navbar {
        display: none;
    }
    #mobile-nav-btn{
        display: block;
        color: rgb(7, 7, 7);
        user-select: none;
    }
    #mobile-nav-btn:hover{
        cursor: pointer;
    }
    .sidenavbar {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--mobile-nav-text-color);
        position: absolute;
        top: 87px;
        left:-100%;
        padding: 10px 0px;
        background-color: #000000c4;
        width: 70vw;
        backdrop-filter: blur(2px);
        margin: 0px;
        transition: 0.5s ease;
    }

    /* TO SHOW BACK THE HAMBURGER NAVBAR */

    .sidenavbar.active{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--mobile-nav-text-color);
        position: absolute;
        top: 87px;
        left:0;
        padding: 50px 0px;
        background-color: #000000c4;
        width: 70vw;
        backdrop-filter: blur(2px);
        margin: 0px;
        transition: 0.5s ease-in-out;
    }

    .sidenavbar ul li a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        display: block;
        border-bottom: 1px solid rgb(150, 150, 150);

    }
    .sidenavbar ul li a{
        color: white;
        text-decoration: none;
    }
    .sidenavbar ul li a:hover  {
        background-color: var(--nav-hover);
    }
}

@media (min-width:601px) and (max-width:827px) {
    h1 {
    font-size: 2rem;
    margin-bottom:30px;
}
header{
        position: sticky;
        top: 0;
        z-index: 1;
}
.navbar {
        display: none;
    }
    #mobile-nav-btn{
        display: block;
        color: rgb(7, 7, 7);
        user-select: none;
        
    }
    #mobile-nav-btn:hover{
        cursor: pointer;
    }
    .sidenavbar {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--mobile-nav-text-color);
        position: absolute;
        top: 90px;
        left:-100%;
        padding: 50px 0px;
        background-color: #000000c4;
        width: 70vw;
        backdrop-filter: blur(2px);
        margin: 0px;
        transition: 0.5s ease;
    }

    /* TO SHOW BACK THE HAMBURGER NAVBAR */

    .sidenavbar.active{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--mobile-nav-text-color);
        position: absolute;
        top: 90px;
        left:0;
        padding: 50px 0px;
        background-color: #000000c4;
        width: 70vw;
        backdrop-filter: blur(2px);
        margin: 0px;
        transition: 0.5s ease-in-out;
    }

    .sidenavbar ul li a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        display: block;
        border-bottom: 1px solid rgb(150, 150, 150);

    }
    .sidenavbar ul li a{
        color: white;
        text-decoration: none;
    }
    .sidenavbar ul li a:hover  {
        background-color: var(--nav-hover);
    }
    main {
        padding: 0px 20px;
    }

    #top-section {
        display: flex;
        width: 100%;
        gap: 10px;
    }
    #top-section,
    #middle1-cards,
    #middle2-section,
    #lower {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    #top-section .top-cards,
    .middle1-card,
    .middle1-card img,
    .middle2-card,
    .lower-cards {
        width: 100%;
    }


}

@media(max-width:600px) {
    h1 {
    font-size: 2rem;
    margin-bottom:30px;
}
    header {
        background-color: var(--mobile-header-color);
        border-bottom: 1px solid rgb(216, 216, 216);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        padding: 30px 10px;
        position: sticky;
        top: 0;

    }

    .navbar {
        display: none;
    }

    
   
    #mobile-nav-btn{
        display: block;
        color: rgb(7, 7, 7);
        user-select: none;
    }
    #mobile-nav-btn:hover{
        cursor: pointer;
    }
    .sidenavbar {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--mobile-nav-text-color);
        position: absolute;
        top: 158px;
        left:-100%;
        padding: 50px 0px;
        background-color: #000000c4;
        width: 70vw;
        backdrop-filter: blur(2px);
        margin: 0px;
        transition: 0.5s ease;
    }

    /* TO SHOW BACK THE HAMBURGER NAVBAR */

    .sidenavbar.active{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        color: var(--mobile-nav-text-color);
        position: absolute;
        top: 158px;
        left:0;
        padding: 50px 0px;
        background-color: rgba(0, 0, 0, 0.769);
        width: 70vw;
        backdrop-filter: blur(2px);
        margin: 0px;
        transition: 0.5s ease-in-out;
    }

    .sidenavbar ul li a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        display: block;
        border-bottom: 1px solid rgb(150, 150, 150);

    }
    .sidenavbar ul li a{
        color: white;
        text-decoration: none;
    }
    .sidenavbar ul li a:hover  {
        background-color: var(--nav-hover);
    }

    main {
        padding: 0px 20px;
    }

    .login {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;

    }

    #top-section,
    #middle1-cards,
    #middle2-section,
    #lower {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    #top-section .top-cards,
    .middle1-card,
    .middle1-card img,
    .middle2-card,
    .lower-cards {
        width: 100%;
    }

    footer {
        width: 100%;
        text-emphasis: center;
    }

    footer .navbar {
        display: none;
    }

}

